{% extends webdata.template_extend %}

{% block nav_title %}
<a class="brand" href="#">Moon</a>
{% endblock %}


                   {% block main_container %}<div class="row-fluid">
    <div class="jumbotron">
        <h1>Moon Framework</h1>
        <p>A light and smart PHP Framework</p>
        <p><a href="https://github.com/lambda2/Moon" class="btn btn-info btn-large">Fork us on Github &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Quels astres avons nous aujourd'hui ?</h2>
        {% for astre in astres %}
        <p>
            Nous avons une distance de {{ astre.distance.distance }} km, 
            entre {{ astre.nom }} et {{ astre.distance }}!
        </p>
        <p>
            Notons d'ailleurs que notre astre de départ, {{ astre.nom }}, se trouve dans le système : {{ astre.systeme.nom }}
        </p>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
