
{% extends 'base.twig' %}
{% block nav_title %}
<a class="brand" href="#">Moon</a>
{% endblock %}


                   {% block main_container %}<div class="row-fluid">
    <div class="jumbotron">
        <h1>Moon Framework</h1>
        <p>A light and smart PHP Framework</p>
        <p><a href="https://github.com/lambda2/Moon" class="btn btn-info btn-large">Fork us on Github &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Quels membres avons nous aujourd'hui ?</h2>
        {% for membre in membres %}
            <p>Nous avons l'utilisateur {{ membre.pseudo }}, qui vient du {{ membre.dept_membre.nom }}</p>
            {{ deleteForm(membre,'Supprimer') }}

            {{ updateForm(membre) }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Ajoutons un membre !</h2>
        {{ membreForm }}
    </div>
</div>
{% endblock %}
