{% extends webdata.template_extend %}

{% block nav_title %}
<a class="brand" href="#">Moon</a>
{% endblock %}


                   {% block main_container %}<div class="row-fluid">
    <div class="jumbotron">
        <h1>Moon Framework</h1>
        <p>A light and smart PHP Framework</p>
        <p><a href="https://github.com/lambda2/Moon" class="btn btn-info btn-large">Fork us on Github &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Quels astres avons nous aujourd'hui ?</h2>
        {% for astre in astres %}
            <p>Nous avons l'astre {{ astre.nom }}, du système {{ astre.systeme.nom }}</p>
            {{ deleteForm(astre,'Supprimer') }}

            {{ updateForm(astre) }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Ajoutons un astre !</h2>
            {{ getFormOpenTag("astre",'insert') }}
            {{ getFormFieldList("astre",'insert') }}
            <button type="submit">WaohKaaay !</button>
            {{ getFormCloseTag("astre",'insert') }}
    </div>
</div>
{% endblock %}
